.main-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: Semibold(600);
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
}

.blank {
    height: 90px;
    width: 100%;
}

#bg-heading {
    background-image: url("/Image/images/User-Profile/banner-with-overlay.jpg");
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px;
}

#up-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: Semibold(600);
    line-height: 52px;
    color: #ffffff;
}

.form-group input {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

    .form-group input:hover,
    .form-group input:focus {
        border-color: #6255a5;
    }

.form-group select:hover,
.form-group select:focus {
    border-color: #6255a5;
}

.btn-color {
    height: 40px;
    background: #6255a5;
    border: 1px solid #6255a5;
    color: #fff;
}

.btn {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    -webkit-transition: all .5s;
    transition: all .5s;
}

    .btn:hover {
        border: 1px solid #6255a5;
        background-color: #fff;
        color: #6255a5;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
