<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello @ViewBag.BuyerName,
        <br />
        <br />
        We would like to inform you that, @ViewBag.SellerName Allows you to download a note.
        Please login and see My Download tabs to download particular note.
        <br />
        <br />
        Regards,<br />
        Notes Marketplace
    </div>
</body>
</html>
