<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello @ViewBag.SellerName,

        <br />
        <br />
        We would like to inform you that, @ViewBag.BuyerName<br />
        wants to purchase your notes. Please see Buyer Requests tab and allow download access to Buyer if you have received the payment from him.
        <br />
        <br />
        Regards,
        Notes Marketplace
</div>
</body>
</html>
