<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="font-size:15px;">
            Hello,
            <br />
            <br />
           
            ViewBag.Comments
            <br />
            <br />
            Regards<br />
            ViewBag.Name
        </p>
    </div>
</body>
</html>
