<html>
<head>
        <meta name="viewport" content="width=device-width" />

        <title>Email Varification</title>
</head>
<body>
    <div>
        <p style="font-size:15px; color:black;">
            Hello ViewBag.FirstName,
            <br />
            <br />
            Thank you for signing up with us. Please click on below link to verify your email address and to do login.
            <br />
            <br />
            <a href="ViewBag.ConfirmationLink">Verify Email Address</a>
            <br />
            <br />
            Regards,<br />
            Notes Marketplace
        </p>
    </div>
</body>
</html>