<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello Admins,
        <br />
        <br />
        We want to inform you that, ViewBag.SellerName sent his note<br />
        ViewBag.NoteTitle for review. Please look at the notes and take required actions.
            <br />
            <br />
            Regards,<br />
            Notes Marketplace
</div>
</body>
</html>
