<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        Hello Admins,
        <br />
        <br />
        We want to inform you that, @ViewBag.MemberName  Reported an issue for @ViewBag.SellerName’s Note with title @ViewBag.NoteTitle. Please look at the notes and take required actions.
        <br />
        <br />
        Regards,
        Notes Marketplace
    </div>
</body>
</html>
