<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="font-size:15px;">
            Hello ViewBag.FirstName,
            <br />
            <br />
            We have generated a new password for you
            <br />
            Password: ViewBag.Password
            <br />
            <br />
            Regards,<br />
            Notes Marketplace
        </p>
    </div>
</body>
</html>
