<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hello ViewBag.SellerName,
        <br />
        <br />
        We want to inform you that, your note ViewBag.NoteTitle  has been removed from the portal. Please find our remarks as below - ViewBag.Remark
        <br />
        <br />
        Regards,<br />
        Notes Marketplace
    </div>
</body>
</html>
