
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!--Forgot Password-->
<section id="forgotpassword">
    <div id="group">
        <!--Top Logo-->
        <div class="img-fluid text-center img1">
            <img src="~/Front Image/images/Logo/white-logo.png">
        </div>
        <!--End Top Logo-->
        <div class="form-box">
            <!--Forgot Form-->
            <form>
                <h2 class="form-heading">Forgot Password?</h2>
                <p class="form-sub-heading">Enter your email to reset your password</p>
                <div class="form-group" id="email">
                    <label class="control-label">Email</label>
                    <div>
                        <input type="email" class="form-control" name="email" id="emailtext">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!--End Forgot Form-->
        </div>
    </div>
</section>